// ========================================
// Layout Utilities
// ========================================

// Container
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $spacing-md;
}

// Flexbox utilities
.flex {
    display: flex;
}

.flex-center {
    @include flex-center;
}

.flex-between {
    @include flex-between;
}

.flex-column {
    @include flex-column;
}

// Spacing utilities
@each $size, $value in ('xs': $spacing-xs,
    'sm': $spacing-sm,
    'md': $spacing-md,
    'lg': $spacing-lg,
    'xl': $spacing-xl,
    'xxl': $spacing-xxl) {
    .m-#{$size} {
        margin: $value;
    }

    .mt-#{$size} {
        margin-top: $value;
    }

    .mr-#{$size} {
        margin-right: $value;
    }

    .mb-#{$size} {
        margin-bottom: $value;
    }

    .ml-#{$size} {
        margin-left: $value;
    }

    .p-#{$size} {
        padding: $value;
    }

    .pt-#{$size} {
        padding-top: $value;
    }

    .pr-#{$size} {
        padding-right: $value;
    }

    .pb-#{$size} {
        padding-bottom: $value;
    }

    .pl-#{$size} {
        padding-left: $value;
    }
}